doctype html
html
	head
		title YouBike
		include jade_pieces/inheader
		include style
		

	body
		div(class="navbar navbar-default navbar-fixed-top", role="navigation")
			div(class="container")
				div(class="navbar-header")
					a(class="navbar-brand", href="#") YouBike

				div(class="navbar-collapse collapse")
					ul(class="nav navbar-nav")
						li(class="active")
							a(href="#")|Performance
						li
							a(href="#nav_problem")|Problem
						li
							a(href="#nav_data")|Data
					ul(class="nav navbar-nav navbar-right")
						li
							a(href="#")|About


		include jade_pieces/footer
		
