doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(href="http://fonts.googleapis.com/css?family=Exo+2:300", rel="stylesheet")
		link(href="./forecast.css", rel="stylesheet")

		script(type="text/javascript", src="http://localhost/vis/lib/js/d3.min.js")
		script(type="text/javascript", src="http://localhost/vis/lib/js/prelude-browser-min.js")
		script(type="text/javascript", src="http://localhost/vis/lib/js/colorbrewer.v1.min.js")
		script(type="text/javascript", src="http://maps.google.com/maps/api/js?sensor=false")
					//- div.ctnkpi
					//- 	span.kpinum.sum.
					//- 		10
					//- 	span.stname
					//- 		師大(公館校區)
					//- 	span.kpinum.pos.
					//- 		+5
					//- 	span.kpinum.neg.
					//- 		-4


	body
		div#mapcontainer
			div#map
			div.lsstn
			div.panel.ttl
				div.ttlctn
					h1.
						YouBike 微預測
					h2
						span.ttlweek.
							星期一
						span.ttlhour.
							01:00

	script(type="text/javascript", src="./forecast.js")
