cbred = rgb(215, 48, 39)
cbblue = rgb(50, 136, 189)


body
	font-family: 'Exo 2', sans-serif
	// color: white

.lsstn
	width:	650px
	position: fixed
	top: 0px
	right: 10px

.kpinum
	font-size: 40px
.kpinum.pos
	color: cbblue
.kpinum.neg
	color: cbred
.kpinum.sum
	font-size: 80px

.stname
	position: absolute
	top: 46px
	font-size: 21px

.ctnkpi
	display: inline

.lsstn .ctnheatmap
	display: inline	
	// margin-left 60px

.kpi 
	position: absolute
	margin-top: 5px
	margin-left: 5px

.ctnhist
	display: inline
	margin-left: 180px

.panel
	background-color: rgba(0, 0, 0, 0.73)
	border-radius: 10px
	margin: 2px
	color: white

.stn
	background-color: rgba(0, 0, 0, 0.73)
	border-radius: 10px
	margin: 2px
	color: white

.inl
	display: inline

.ttl
	width: 250px
	position: fixed
	left: 10px
	bottom: 11px
	text-align: center


.ttlctn
	margin: 10px