doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(href="http://localhost/vis/lib/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="http://localhost/vis/lib/bootstrap/css/bootstrap-theme.min.css", rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Exo+2:300", rel="stylesheet")



		script(type="text/javascript", src="http://localhost/vis/lib/js/d3.min.js")
		script(type="text/javascript", src="http://localhost/vis/lib/js/prelude-browser-min.js")

		script(type="text/javascript", src="http://localhost/vis/lib/js/jquery.min.js")
		script(type="text/javascript", src="http://localhost/vis/lib/bootstrap/js/bootstrap.min.js")
		script(type="text/javascript", src="http://localhost/vis/lib/js/colorbrewer.v1.min.js")

		script(type="text/javascript", src="http://maps.google.com/maps/api/js?sensor=false")


	body
		- var stn = { width: "280px", height: "420px"}

		style(type="text/css").
			.descript{
				height: 700px;
			}

			.stn {
				font-family:sans-serif;
				z-index: 1;
				width: #{stn.width};
				height: #{stn.height};
				background-color: rgba(0, 0, 0, 0.9);
				color: white;
				border-radius: 10px;
				position: relative;
				text-align: center;
				box-shadow: white 0px 0px 4px 4px;
			}
			//- .stn(width= stn.width, height= stn.height)
			.stntxt {
				position: relative;
				top: 14px;
			}
			#stn1 {			
				top: -550px;
				left: 220px;
				z-index: 1;
			}
			#stn2 {
				top: -990px;
				left: 890px;
				z-index: 1;
			}
			.jumbotron {
				margin-bottom: 0px;
				height: 350px;
				//- color: white;
				//- text-shadow: black 0.3em 0.3em 0.3em;
				background:transparent;
			}

			.coverimg {
				width: 100%;
				height: 350px;
				background: url(./stn_cover.png) 170px;
				background-size: 1770px;
				display: block;
				content: "";
				position: absolute;
				top:0;
				left:0;
				z-index:-1;
				opacity:0.7;
			}
			.titles {
				margin-top:50%
			}

			.wrapcover {
				width: 450px;
				background-color: rgba(255, 255, 255, 0.63);	
			}

			.axis text {
				font: 10px sans-serif;
			}

			.axis path, .axis line {
				fill: none;
				stroke: #000;
				shape-rendering: crispEdges;
			}

			body, .stn {
				font-family: 'Exo 2', sans-serif;
			}


		div.jumbotron
			div.coverimg
			div.container
				div.wrapcover
					h1.
						Youbike 微預測
					h2.
						利用數據，計算借到腳踏車的機率

		div.col-md-12
			div.col-md-4
				h1.titles.
					YouBike 使用量爆炸成長
				h3.
					每月近 2,000,000 人次
				h3.
					年營收 10 元
			div.col-md-8
				div.descript
					svg.svgusage

		div.col-md-12
			div.col-md-4
				h1.titles.
					但是無法使用的情況也越來越嚴重
			div.col-md-8
				div.descript
					svg.svgbad

		div.col-md-12
			div.col-md-4
				h1.titles.
					台北 101
			div.col-md-8
				div.descript
					div.data_look_1
		
		div.col-md-12
			div.col-md-4
				h1.titles.
					捷運公館站
			div.col-md-8
				div.descript
					div.data_look_2

		div.col-md-12
			div.col-md-4
				h1.titles.
					捷運六張犁站
			div.col-md-8
				div.descript
					div.data_look_3
												
		div.col-md-12
			div#mapcontainer
				div#map
				div#stn1.stn
					div.stntxt
						h1.
							5
						h4.
							捷運公館站
						svg.stnhis
						svg.stnheat

				div#stn2.stn
					div.stntxt
						h1.
							10 
						h4.
							師大(公館校區)
						svg.stnhis
						svg.stnheat
						
		script(type="text/javascript", src="./slide.js")
		script(type="text/javascript", src="./data_look_cnv_2.js")


